$dark-1: #FAF9F5;
$dark-2: #ECEBE7;
$dark-3: #CBC6C1;
$dark-4: #A69E9A;
$dark-5: #807B7A;
$dark-6: #595757;
$dark-7: #323232;
$dark-8: #1C1C1C;
$dark-9: #0D0D0D;

$background-color: $dark-2;
$element-background-color: $dark-3;
$border-color: $dark-6;

$node-background-color: $element-background-color;
$node-border-color: $border-color;
$node-text-color: $dark-8;
$font-color: $dark-7;
$font-stroke-color: $border-color;

$female-color: #FF84C3;
$male-color: #84C3FF;

$female-dark-color: #EA0078;
$male-dark-color: #0078EA;

$input-connector-color: $dark-4;