@use "colors";
@use "utils";

@mixin baseCurve($strokeColor) {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  stroke-width: 12px;
  transition: stroke 100ms ease-in-out, filter 100ms ease-in-out;
  stroke: $strokeColor;
}

@mixin hoverHighlight($strokeColor) {
  &:hover {
    stroke: utils.darkenAndSaturate($strokeColor, 10%, $darkness: 30%);
    filter: drop-shadow(0 0 2px $strokeColor);
  }
}

@mixin curveWithHover($strokeColor) {
  @include baseCurve($strokeColor);
  @include hoverHighlight($strokeColor);
}

.fatherCurve {
  @include curveWithHover(colors.$male-color);
}

.motherCurve {
  @include curveWithHover(colors.$female-color);
}

.selectedFatherCurve {
  @include baseCurve(utils.darkenAndSaturate(colors.$male-color));
  filter: drop-shadow(0 0 2px utils.darkenAndSaturate(colors.$male-color));
}

.selectedMotherCurve {
  @include baseCurve(utils.darkenAndSaturate(colors.$female-color));
  filter: drop-shadow(0 0 2px utils.darkenAndSaturate(colors.$female-color));
}

.newFatherCurve {
  @include baseCurve(utils.lightenAndDesaturate(colors.$male-color));
  filter: drop-shadow(0 0 2px utils.darkenAndSaturate(colors.$male-color));
}

.newMotherCurve {
  @include baseCurve(utils.lightenAndDesaturate(colors.$female-color));
  filter: drop-shadow(0 0 2px utils.darkenAndSaturate(colors.$female-color));
}
