:root {
  --nodeRadius: 20px;
}

#drawflow {
  background: #ffffff;
  height: 100vh;
  width: 100vw;
}

.drawflow .drawflow-node {
  display: block;
  background: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  border-radius: var(--nodeRadius);
  min-height: 30px;
  width: auto;
  min-width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0 0 10px 0 #000000;
  box-shadow: 0 0 10px 0 #000000;
}

.drawflow .drawflow-node:hover,
.drawflow .drawflow-node.selected {
  background: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  border-radius: var(--nodeRadius);
  -webkit-box-shadow: 0 0 15 0 #009cc4;
  box-shadow: 0 0 0 15 #009cc4;
}

.drawflow .drawflow-node .inputs,
.drawflow .drawflow-node .outputs {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  height: 0;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  top: -15px;
  left: 0px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 50px;
  height: 20px;
  width: 20px;
}

.drawflow .drawflow-node .output {
  top: 20px;
}

.drawflow .drawflow-node .input_1 {
  left: -32px;
}

.drawflow .drawflow-node .input_2 {
  left: 32px;
}

.drawflow .drawflow-node .input:hover {
  background: #ffffff;
  border: 3px solid #000000;
  border-radius: 50px;
}

.drawflow .drawflow-node .output:hover {
  background: #a1ffe6;
  border: 3px solid #000000;
  border-radius: 50px;
}

.drawflow .connection .main-path {
  stroke-width: 5px;
  stroke: #4682b4;
}

.drawflow .connection.input_1>.main-path {
  stroke-width: 5px;
  stroke: #84c3ff;
}

.drawflow .connection.input_2>.main-path {
  stroke-width: 5px;
  stroke: #ff84c3;
}

.drawflow .connection .point {
  stroke: #000000;
  stroke-width: 2px;
  fill: #ffffff;
}